.container{
    color:black;
    border: 1px solid navy;
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    line-height: 2rem;
}

.main{
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid navy;
    padding-bottom: 4px;
    line-height:;
}